.vd-title {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  color: #2e384d;
}
.vd-total {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #8798ad;
}
.vd-manage {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #2e5bff;
}
.vd-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #2e384d;
}
.vd-text-afterimage {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.vd-text2-afterimage {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #8798ad;
}
.vehicalbutton--position {
  position: absolute;
  position: fixed;
  top: 85%;
  right: 8%;
}
.vehical-modal-title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #8798ad;
}
.vehical-modal-para {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #2e384d;
}
