.dottedline {
  border: 0 none;
  border-top: 2px dashed lightgray;
  background: none;
  height: 0;
}
.bglightblue {
  background-color: rgb(46, 91, 255, 0.1);
  border: rgb(46, 91, 255, 0.1);
  color: #2e5bff;
  font-weight: bolder;
  width: 80px;
}
.headingabovedetailcard {
  color: #2e5bff;
  font-weight: 600;
  font-size: 14px;
}
.fontsizeandbold {
  font-size: 14px;
  font-weight: 600;
}
.fontsize {
  font-size: 15px;
}
.fontbold{
  font-weight: 600;
}
.mybtn-green{
  background-color:#33AC2E;
  color:white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.mybtn-green:hover{
  background-color:rgb(53, 186, 48);
  transition: all 0.5s ease;
}
.mybtn-blue{
  background-color:#2E5BFF;
  color:white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.mybtn-blue:hover{
  background-color:rgb(36, 77, 225); 
  transition: all 0.5s ease;
}
.mybtn-blue-secondary{
  background-color:rgba(46,91,255,0.2);
  color:#2E5BFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 0px;
  border-radius: 5px;
  outline: none;

}
.mybtn-blue-secondary:hover{
  background-color:rgba(46, 91, 255, 0.105);
  color:#2E5BFF;
  transition:  all 1s ease;
 

}