.messageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  padding: 0 5%;
  margin-top: 3px;
  margin-bottom: 15px;
  
}

.messageBox {
  background: #2E384D;
  border-radius: 5px;
  padding: 1px 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  max-width: 70%;
}

.messageText {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  float: left;
  justify-self: start;
  margin-bottom: 0!important;
  padding: 4px 20px;
}

.sentText {
  color: #828282;
  font-size: 12px;
  margin-bottom: 0 !important;
  margin-left: 10px !important;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: rgba(46,91,255,0.2);
}

.backgroundLight {
  background: #ffffff;
}
/*-------------------*/
.chatshipment {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #2E384D;
}
.chatshipment:hover {
  transition:all 0.4s ease;
  background: rgba(46,91,255,0.1);
  color: rgba(46,91,255,1)!important;
}
