.logotext__color {
  color: #1abc9c;
  font-weight: 600;
  font-size: 15px;
}
.tab--border {
  border-style: solid !important;
  border-color: rgb(231, 226, 226);
}

.border--color ul li a {
  text-decoration: none;
  color: #2e384d;
  border: 1px solid rgb(235, 229, 229);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-left: 8rem;
  margin-top: 1px;
}
.border--color_Carrier ul li a {
  text-decoration: none;
  color: #2e384d;
  border: 1px solid rgb(235, 229, 229);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-left: 3rem;
  margin-top: 1px;
}
.nav--item {
  background-color: rgb(255, 255, 255);
  color: "#2E384D";
  font-weight: 600 !important;
  border: 0px !important;
}
.nav--item:hover {
  background-color: rgba(46, 91, 255, 0.1);
  color: #2e5bff;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1200px) {
  .border--color ul li a {
    padding: 10px;
    margin-left: 5rem;
  }
  .border--color_Carrier ul li a {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .border--color ul li a {
    border: none;
    margin-left: 0px;
    display: inline-block;
  }
  .border--color_Carrier ul li a {
    border: none;
    margin-left: 0px;
    display: inline-block;
  }
  .border--color ul li:first-child {
    padding-left: 0px !important;
  }
}

.border--color ul li a.active {
  border: 1px solid #2e5bff;
  color: #2e5bff;
  background-color: rgba(46, 91, 255, 0.2);
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease;
}
.border--color_Carrier ul li a.active {
  border: 1px solid #2e5bff;
  color: #2e5bff;
  background-color: rgba(46, 91, 255, 0.2);
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease;
}
.nav--link {
  font-size: 15px;
  color: #2e384d;
  font-weight: 500;
}
