.offer-span {
  font-size: 13px;
  line-height: 15px;
  color: #8798ad;
}
.offer-description {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #2E384D;
}
.offer-notes {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #8798ad;
}
.font15 {
  font-size: 15px;
}
.flabelStyle {
  font-weight: bolder;
  font-size: 12px;
  color: #8798ad;
}
