$darkblue:#2E384D;
$white:#fff;
$black:rgb(0, 0, 0);
$blue:#2E5BFF;
$blue_20:rgba(46,91,255,0.2);
$green:#1ab9c9;
$gray:#8798AD;
$green:#33AC2E;
$red:#D63649;
$yellow:#F7C137;
$teal:#00C1D4;
$purple:#8C54FF;
#filter_module{
    span {
        color:$gray;
        font-weight: 500;
    }
}



*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f6fc !important;
  height: 100%!important;
  
  
}
.dropdown_item {
  color:$darkblue;
  font-weight: 700;
  padding:1rem;

  border-top: 0.5px solid $blue_20;
  border-bottom: 0.5px solid $blue_20;
}
.dropdown_item:hover{
  background-color: $blue_20;
  color: $blue;
  transition: all 0.2s ease;
  
}
.hideoverflow{
  overflow: scroll;
  
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  color:transparent
}


h1,
h2,
span,
h3,
h4,
h5,
p {
  font-weight: 600;
}

.gray_text{
  color:$gray
  }
  .blue_text{
    color:$blue
    }
  .black_text{
   color:$darkblue
  }
  .blue20_text{
   color:$blue_20
  }
  .btn-secondary{
    background-color: $blue_20;
    color: $blue;
  }
  .btn-secondary:hover{
    background-color: darken($color: $blue_20, $amount: 16) ;
    color: $blue;
  }
  .nobg_btn_red{
  background-color: transparent;
  color:$red;
  font-weight: 600;
  }
  .nobg_btn_purple{
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px;
    color:$purple;
    font-weight: 600;
    }
    .nobg_btn_purple:hover{
      background-color:rgba(141, 84, 255, 0.3) ;
      transition: all 0.5s ease;
      }
.nobg_btn_red:hover{
 background-color:rgba(218, 38, 65, 0.20) ;
 transition: all 0.5s ease;
}
  .plus_button{
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
    background-color: $blue;
    color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    font-size: 40px;
    cursor: pointer;
    border: $blue;
    box-shadow: $blue 0px 0px 10px 4px;
  }
  .plus_button:hover{
    background-color: darken($color: $blue, $amount: 6);
    color: white;
    transition: all 0.4s ease;
    
  
  }