#filter_module span {
  color: #8798AD;
  font-weight: 500;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f6fc !important;
  height: 100% !important;
}

.dropdown_item {
  color: #2E384D;
  font-weight: 700;
  padding: 1rem;
  border-top: 0.5px solid rgba(46, 91, 255, 0.2);
  border-bottom: 0.5px solid rgba(46, 91, 255, 0.2);
}

.dropdown_item:hover {
  background-color: rgba(46, 91, 255, 0.2);
  color: #2E5BFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hideoverflow {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  color: transparent;
}

h1,
h2,
span,
h3,
h4,
h5,
p {
  font-weight: 600;
}

.gray_text {
  color: #8798AD;
}

.blue_text {
  color: #2E5BFF;
}

.black_text {
  color: #2E384D;
}

.blue20_text {
  color: rgba(46, 91, 255, 0.2);
}

.btn-secondary {
  background-color: rgba(46, 91, 255, 0.2);
  color: #2E5BFF;
}

.btn-secondary:hover {
  background-color: rgba(0, 47, 219, 0.2);
  color: #2E5BFF;
}

.nobg_btn_red {
  background-color: transparent;
  color: #D63649;
  font-weight: 600;
}

.nobg_btn_purple {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0px;
  color: #8C54FF;
  font-weight: 600;
}

.nobg_btn_purple:hover {
  background-color: rgba(141, 84, 255, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nobg_btn_red:hover {
  background-color: rgba(218, 38, 65, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.plus_button {
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  background-color: #2E5BFF;
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  font-size: 40px;
  cursor: pointer;
  border: #2E5BFF;
  -webkit-box-shadow: #2E5BFF 0px 0px 10px 4px;
          box-shadow: #2E5BFF 0px 0px 10px 4px;
}

.plus_button:hover {
  background-color: #0f43ff;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/*# sourceMappingURL=style.css.map */