*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f6fc !important;
  
}
.red_text {
  color:red;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 500;
}
